
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 40px 60px;
    font-family: 'Montserrat', sans-serif;
    header{
        vertical-align: bottom;
        .logo{
            font-family: 'Playfair Display', serif;
        }
        nav{
            a{
                margin: 0 10px;
                margin-top: 2px;
                text-decoration: none;
                color: #222222;
            }
        }
    }
}