@media all and (max-width:500px){
    body{
        overflow-x: hidden!important;
    }
    header{
        padding: 20px 20px!important;
        nav{
            a{
                display: none;
            }
        }
    }
    
    .fa-bars{
        padding: 0!important;
        width: fit-content !important;
        height: fit-content!important;
        font-size: 1.5em!important;
        cursor: pointer;
    }
    main{
        margin-top: 0!important;
        .greetings{
            padding: 10px 20px;
            text-align: left!important;
        }
        section{
            p{
                width: 100%!important;
            }
        }
        .about{
            padding: 10px 20px!important;
            p{
                font-size: medium!important;
            }
        }
        .experience{
            padding: 10px 20px !important;
            .experience-cards{
                display: block!important;
                
                .glass{
                    width: 100%!important;
                    margin-bottom: 10px;
                }
            }
        }
        .projects{
            padding: 10px 20px!important;
            .project-list{
                
                .project{
                    display: block!important;
                    .demo{
                        margin-top: 10px!important;
                        margin-left: 10px;
                        video{
                            width: 300px!important;
                            height: 180px!important;
                        }
                    }
                }
            }
        }
        .contact{
            padding: 10px 20px!important;
        }
    }
    aside{
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        padding: 10px 0px;
        width: 0px!important;
        height: 100vh!important;
        background-color:#1f1f1f;
        color: #ffffff;
        transition: 0.5s;
        ul{
          list-style: none;
          padding-left: 10px;
          li{
            width: 100%;
            font-size: 18px;
            margin-bottom: 10px;
            a{
              width: 100%;
              padding: 5px;
              text-decoration: none!important;
              color: #ffffff;
              &:visited{
                color: white;
                background-color: #1f1f1f;
              }
            }
          }
        }
      }
}